:root{
    --accent: #1FC8A9;
    --white: #FFEFE5;
    --black: #181A27;
    --shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

body{
    background-color: var(--white);
}

.header {
    background-color: var(--accent);
    border-bottom:1px solid #181A27;
    border-radius: 5px;
    color: var(--white);
}

.search-container {
    box-shadow: var(--shadow);
    border-radius: 10px;
}
#current-weather{
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 30px;
}

#clear-cities {
    background-color: var(--accent);
    border: none !important;
}

#clear-cities:hover, #city-search:hover{
    background-color: var(--white);
    color:#181A27;
}

#city-search{
    background-color: var(--accent);
    border: none !important;
    color: var(--white);
}

